RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ./index.php?path=$1 [NC,L,QSA]

# https://habrahabr.ru/post/165701/
Options All -Indexes

<Files .htaccess>
	order allow,deny
	deny from all
</Files>

# RewriteEngine on
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?site.loc [NC]
RewriteRule \.(jpg|jpeg|png|gif)$ - [NC,F,L]

# RewriteEngine On
# RewriteCond %{HTTPS} !on
# RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}